<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
<h1>Расходная накладная (редактирование)</h1>

<form action="{% url 'main:docs_out_edit' document.pk %}" method="post">
    {% csrf_token %}
    <table>
        {{ form_doc.as_table }}
    </table>
    <input type="submit" value="Записать">
</form>
<br>

<table style="width:100%">
  <tr>
    <th>Наименование</th>
    <th>Заводской номер</th>
    <th>Номер паспорта</th>
    <th>Вес</th>
    <th></th>
  </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.factory_number }}</td>
        <td>{{ item.passport_number }}</td>
        <td>{{ item.weight }}</td>
        <td><a href="{% url 'main:docs_out_del_item' item.pk %}">Удалить</a></td>
    </tr>
    {% endfor %}
</table>
<h3><a href="{% url 'main:docs_out' %}">Назад</a></h3>
<h3><a href="{% url 'main:index' %}">В главное меню</a></h3>
</body>
