<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
<h1>Расходные накладные</h1>

<form>
    <label for="doc_number">Номер накладной: </label>
    <input id="doc_number" type="text" name="doc_number">
    <input type="submit" value="OK">
</form>
<br>

<form action="{% url 'main:docs_out_create' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Добавить новую">
</form>
<br>


<table style="width:100%">
  <tr>
    <th>Номер</th>
    <th>Дата</th>
    <th>Описание</th>
    <th></th>
  </tr>
    {% for document in documents %}
        <tr>
            <td>{{document.doc_number}}</td>
            <td>{{document.date_created}}</td>
            <td>{{document.description}}</td>
            <td>
                <a href="{% url 'main:docs_out_print' document.pk %}" target="_blank">Распечатать</a>
                <a href="{% url 'main:docs_out_edit' document.pk %}">Редактировать</a>
            </td>
        </tr>
{% endfor %}
</table>

<h3><a href="{% url 'main:docs' %}">Назад</a></h3>
<h3><a href="{% url 'main:index' %}">В главное меню</a></h3>
</body>
